[Unit]
Description=Quintor hands-on container
Requires=docker.service
After=docker.service

[Service]
Restart=always
Environment=IMAGE=test/quintor/nl
Environment=NAME=quintor-handson
ExecStartPre=-/usr/bin/docker pull ${IMAGE}
ExecStartPre=-/usr/bin/docker rm -f ${NAME}
ExecStart=/usr/bin/docker run -m 256m -e VIRTUAL_HOST=${NAME}.quintor.info --restart=always -P --name ${NAME} ${IMAGE}
ExecStop=/usr/bin/docker stop ${NAME}

[Install]
WantedBy=default.target